{% extends "index.html" %}
<title>{% block title %}О нас{% endblock %}</title>
{% block main %}
<div class="about">
	<h2>ХочуПосмотреть! - это уникальное приложение именно для Вас!</h2><br />
	<h3>Ругаетесь с мужем/женой/друзьями/родственниками/второй половинкой,
	потому что не можете выбрать что посмотреть? Тогда заходите на ХочуПосмотреть! Здесь Вы можете выбрать
	фильм, мультфильм и сериал по различным критериям. Так же Вы можете посмотреть информацию о выбранном фильме: 
	какие актеры в нем играю, кто режиссер, а также почитать описание фильма.</h3><br />
	<h3><u>Контакты для связи</u></h3><br />
	<ul>
		<li><h4>Полякова Ксения</h4></li>
		<li><h4>Телефон: 8 919 727 69 48</h4></li>
		<li><h4>Email: KsenyaPolyakovaaa@mail.ru</h4></li>
	</ul>
</div>
{% endblock %}