{% extends "index.html" %}
{% load staticfiles %}
<title>{% block title %}{{ film.name }}{% endblock %}</title>
{% block style %}<link rel="stylesheet" href="../static/bootstrap.min.css"><link type="text/css" href="{% static 'style.css' %}" rel="stylesheet">{% endblock %}
{% block main %}
	<h2>{{ film.name }}</h2>
	<div>
		{{ film.genre }},
		{{ film.description }}
		{{ film.country }}
	</div>
	{% if user.is_authenticated %}
	<form action="../../saved{{ film.id }}/" method="post">
		{% csrf_token %}
		<div class="form-group">
			<input type="submit" name="change" value="{% ifequal saved True %}Удалить{% else %}Добавить{% endifequal %}">
			</button>
		</div>
	</form>
	{% endif %}
{% endblock %}