{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Новинки кино{% endblock %}</title>
	{% block style %}<link type="text/css" href="{% static 'style.css' %}" rel="stylesheet" >{% endblock %}
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<header>
		<div class="headerlogo">ХочуПосмотреть!</div>
		<nav>
			<div class="topnav" id="myTopNav">
				<a href="../about">О НАС</a>
				<a href="../search">ПОИСК</a>
				<a href="../app">ГЛАВНАЯ</a>
				{% if user.is_authenticated %}
				<a href="">{{ user.username }}</a>
				<a href="../saved">СОХРАНЕНО</a>
				<a href="{%url 'logout' %}">ВЫЙТИ</a>
				{% else %}
				<a href="{% url 'login' %}">ВОЙТИ</a>
				<a href="{% url 'register' %}">РЕГИСТРАЦИЯ</a>
				{% endif %}
			</div>
		</nav>
	</header>
	<body>
		<div class="main">
			{% block main %}
			{% endblock %}
		</span>
	</body>
</html>