{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Новинки кино{% endblock %}</title>
	{% block css %}<link rel="stylesheet" href="../static/style.css">{% endblock %}
	<link type="text/css" href="{% static "style.css" %}" rel="stylesheet" >
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<header>
		<div class="headerlogo"><p><a href="../app/">ПоисКино</a></p></div>
		<nav>
			<div class="topnav" id="myTopNav">
				<a href="about">О НАС</a>
				<a href="#">ПОИСК</a>
				<a href="#">ВОЙТИ</a>
				<a href="#">РЕГИСТРАЦИЯ</a>
			</div>
		</nav>
	</header>
	<body>
		<div class="main">
			{% block main %}
			{% endblock %}
		</div>
	</body>
</body>
</html>