{% extends "index.html" %}
{% load staticfiles %}
{% block css %}<link rel="stylesheet" href="{% static 'news.css' %}">{% endblock %}
<title>{% block title %}Новинки кино{% endblock %}</title>
{% block main %}
<h2 class="news">Новинки в мире кино</h2><br />
<h3>Успейте насладиться просмотром новых шедевров 2020 года!</h3>
<div class="news"><br />
	<ul>
		{% for f in films %}
			<li><a href="../film{{ f.id }}/">{{ f.name }}</a></li><br />
		{% endfor %}
	</ul>
</div>
<nav aria-label="...">
	<ul class="pagination">
	{% for n in object_list.paginator.page_range %}
		{% if object_list.number == n%}
			<li class="page-item active">
				<a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
			</li>
		{% else %}
			<li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
</nav>
{% endblock %}