{% extends "index.html" %}
{% load staticfiles %}
<title>{% block title %}Сохранено{% endblock %}</title>
{% block style %}<link rel="stylesheet" href="../static/bootstrap.min.css"><link type="text/css" href="{% static 'style.css' %}" rel="stylesheet">{% endblock %}
{% block main %}
<h2>Избранное</h2>
<div class="saved">
	<ul>
		{% if object_list %}
		{% for film in object_list.object_list %}
		<li>
			<a href="../film{{ film.id }}/">{{ film.name }}</a>
		</li><br />
		{% endfor %}
		{% else %}
		<h3>Нет фильмов!</h3>
		{% endif %}
	</ul>
</div>
<nav aria-label="...">
	<ul class="pagination">
	{% for n in object_list.paginator.page_range %}
		{% if object_list.number == n%}
			<li class="page-item active">
				<a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
			</li>
		{% else %}
			<li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
</nav>
{% endblock %}