{% extends "index.html" %}
{% load staticfiles %}
{% block style %}<link rel="stylesheet" href="../static/bootstrap.min.css"><link rel="stylesheet" href="{% static 'style.css' %}">{% endblock %}
<title>{% block title %}Поиск{% endblock %}</title>
{% block main %}
<form action="{% url 'search_results' %}" method="get">
	<fieldset>
	<h5>Введите название фильма</h5>
	<input name="name" type="text" placeholder=""><br /><br />
	<h5>Выберите жанр</h5>
	<div class="pa">
		<input type="radio" name="genre" value="1">Боевик
		<span class="part1"><input type="radio" name="genre" value="2">Вестерн</span>
	</div>
	<div class="pa">
		<input type="radio" name="genre" value="3">Детектив
		<span class="part2"><input type="radio" name="genre" value="4">Документальный</span>
	</div>
	<div class="pa">
		<input type="radio" name="genre" value="5">Драма
		<span class="part3"><input type="radio" name="genre" value="6">Комедия</span>
	</div>
	<div class="pa">
		<input type="radio" name="genre" value="7">Мелодрама
		<span class="part4"><input type="radio" name="genre" value="8">Мультфильм</span>
	</div>
	<div class="pa">
		<input type="radio" name="genre" value="9">Сериал
		<span class="part5"><input type="radio" name="genre" value="10">Триллер</span>
	</div>
	<div class="pa">
		<input type="radio" name="genre" value="11">Фантастика
	</div><br />
	<h5>Введите страну</h5>
	<input name="country" type="text" placeholder=""><br /><br />
	<h5>Введите год</h5>
	<input name="year" type="text" placeholder=""><br /><br />
	<div class="form-group">
		<button class="btn btn-outline-info" type = "submit">Искать</button>
		<button class="btn btn-outline-info" type="reset">Очистить</button>
	</div>
	</fieldset>
</form>
{% endblock %}