{% extends "index.html" %}
{% load staticfiles %}
{% block style %}<link rel="stylesheet" href="../static/bootstrap.min.css"><link rel="stylesheet" href="{% static 'style.css' %}">{% endblock %}
<title>{% block title %}Поиск{% endblock %}</title>
{% block main %}
{% if messages %}
	{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">
			{{ message }}
		</div>
	{% endfor %}
{% endif %}
<form action="{% url 'search_results' %}" method="get">
	<h6>Введите название фильма</h6>
	<input name="name" type="text" placeholder="">
	<h6>Выберите жанр</h6>
		<input type="radio" name="genre" value="1">Боевик
		<input type="radio" name="genre" value="2">Вестерн
		<input type="radio" name="genre" value="3">Детектив
		<input type="radio" name="genre" value="4">Документальный
		<input type="radio" name="genre" value="5">Драма
		<input type="radio" name="genre" value="6">Комедия
		<input type="radio" name="genre" value="7">Мелодрама
		<input type="radio" name="genre" value="8">Мультфильм
		<input type="radio" name="genre" value="9">Сериал
		<input type="radio" name="genre" value="10">Триллер
		<input type="radio" name="genre" value="11">Фантастика
		</p>
	<h6>Введите страну</h6>
	<input name="country" type="text" placeholder="">
	<h6>Введите год</h6>
	<input name="year" type="text" placeholder="">
	<h6>Введите актера</h6>
	<input name="actor" type="text" placeholder="">
	<div class="form-group">
		<button class="btn btn-outline-info" type = "submit">Искать</button>
	</div>
</form>
{% endblock %}